@import url(https://fonts.googleapis.com/css?family=Nunito:400&display=swap&subset=latin-ext);
@import url(~bootstrap/dist/css/bootstrap.css);
@import url(~@fortawesome/fontawesome-free/css/all.css);
@import url(./asset/themify/themify-icons.css);
@import url(~react-perfect-scrollbar/dist/css/styles.css);
@import url(~react-confirm-alert/src/react-confirm-alert.css);
@import url(~react-toastify/dist/ReactToastify.css);
@import url(~react-input-range/lib/css/index.css);
body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb !important;
  font-family: 'Nunito', sans-serif !important;
  font-size: 14px !important;
}
